body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 100vh;
}

.grid-item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: #3498db;
    color: #fff;
}

#section1 {
    background-color: #e74c3c;
}

#section2 {
    background-color: #2ecc71;
}

#section3 {
    background-color: #f39c12;
}